In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from scipy import stats

In [2]:
train_data = pd.read_csv('internship_train.csv')

In [3]:
df = pd.DataFrame(train_data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,target
0,236,488,16,221,382,97,-4.472136,0.107472,0,132,...,13.340874,0.870542,1.962937,7.466666,11.547794,8.822916,9.046424,7.895535,11.010677,20.107472
1,386,206,357,232,1,198,7.810250,0.763713,1,143,...,12.484882,7.168680,2.885415,12.413973,10.260494,10.091351,9.270888,3.173994,13.921871,61.763713
2,429,49,481,111,111,146,8.602325,0.651162,1,430,...,14.030257,0.394970,8.160625,12.592059,8.937577,2.265191,11.255721,12.794841,12.080951,74.651162
3,414,350,481,370,208,158,8.306624,0.424645,1,340,...,2.789577,6.416708,10.549814,11.456437,6.468099,2.519049,0.258284,9.317696,5.383098,69.424645
4,318,359,20,218,317,301,8.124038,0.767304,1,212,...,1.886560,1.919999,2.268203,0.149421,4.105907,10.416291,6.816217,8.586960,4.512419,66.767304

In [4]:
df.shape

(90000, 54)

In [5]:
df.isnull().sum()

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
30        0
31        0
32        0
33        0
34        0
35        0
36        0
37        0
38        0
39        0
40        0
41        0
42        0
43        0
44        0
45        0
46        0
47        0
48        0
49        0
50        0
51        0
52        0
target    0
dtype: int64

In [6]:
df.isna().sum()

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
30        0
31        0
32        0
33        0
34        0
35        0
36        0
37        0
38        0
39        0
40        0
41        0
42        0
43        0
44        0
45        0
46        0
47        0
48        0
49        0
50        0
51        0
52        0
target    0
dtype: int64

In [7]:
df.dtypes

0           int64
1           int64
2           int64
3           int64
4           int64
5           int64
6         float64
7         float64
8           int64
9           int64
10          int64
11          int64
12          int64
13        float64
14        float64
15        float64
16        float64
17        float64
18        float64
19        float64
20        float64
21        float64
22        float64
23        float64
24        float64
25        float64
26        float64
27        float64
28        float64
29        float64
30        float64
31        float64
32        float64
33        float64
34        float64
35        float64
36        float64
37        float64
38        float64
39        float64
40        float64
41        float64
42        float64
43        float64
44        float64
45        float64
46        float64
47        float64
48        float64
49        float64
50        float64
51        float64
52        float64
target    float64
dtype: object

In [8]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,target
count,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,...,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000
mean,249.423944,250.236267,248.637289,249.736600,249.436178,249.656167,-0.011402,0.498548,0.499189,249.842033,...,7.475155,7.523962,7.508397,7.473322,7.490658,7.474578,7.509206,7.487159,7.513316,50.033981
std,144.336393,144.022200,144.107577,144.284945,143.941581,144.329168,7.038171,0.288682,0.500002,144.612718,...,4.330410,4.321537,4.331761,4.335692,4.332122,4.323035,4.326364,4.324876,4.333080,28.897243
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.949874,0.000014,0.000000,0.000000,...,0.000019,0.000040,0.000154,0.000083,0.000367,0.000014,0.000160,0.000147,0.000125,0.002634
25%,125.000000,126.000000,124.000000,125.000000,125.000000,124.000000,-7.071068,0.248932,0.000000,124.000000,...,3.707544,3.797002,3.760627,3.715721,3.739358,3.715298,3.773381,3.743536,3.776322,25.091903
50%,250.000000,251.000000,248.000000,250.000000,250.000000,250.000000,0.000000,0.497136,0.000000,250.000000,...,7.474127,7.533987,7.505259,7.459774,7.494167,7.477270,7.512575,7.476564,7.506812,50.030705
75%,374.000000,375.000000,374.000000,375.000000,373.000000,374.000000,7.000000,0.747513,1.000000,376.000000,...,11.216585,11.276349,11.261971,11.215637,11.239232,11.210070,11.268156,11.234414,11.277835,75.059454
max,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,9.949874,0.999987,1.000000,499.000000,...,14.999900,14.999528,14.999733,14.999478,14.999869,14.999928,14.999948,14.999364,14.999775,99.999482

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 54 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       90000 non-null  int64
 1   1       90000 non-null  int64
 2   2       90000 non-null  int64
 3   3       90000 non-null  int64
 4   4       90000 non-null  int64
 5   5       90000 non-null  int64
 6   6       90000 non-null  float64
 7   7       90000 non-null  float64
 8   8       90000 non-null  int64
 9   9       90000 non-null  int64
 10  10      90000 non-null  int64
 11  11      90000 non-null  int64
 12  12      90000 non-null  int64
 13  13      90000 non-null  float64
 14  14      90000 non-null  float64
 15  15      90000 non-null  float64
 16  16      90000 non-null  float64
 17  17      90000 non-null  float64
 18  18      90000 non-null  float64
 19  19      90000 non-null  float64
 20  20      90000 non-null  float64
 21  21      90000 non-null  float64
 22  22      90000 non-null  float64
 23  23      90000 non-null  float64
 24  24      90000 non-null  float64
 25  25      90000 non-null  float64
 26  26      90000 non-null  float64
 27  27      90000 non-null  float64
 28  28      90000 non-null  float64
 29  29      90000 non-null  float64
 30  30      90000 non-null  float64
 31  31      90000 non-null  float64
 32  32      90000 non-null  float64
 33  33      90000 non-null  float64
 34  34      90000 non-null  float64
 35  35      90000 non-null  float64
 36  36      90000 non-null  float64
 37  37      90000 non-null  float64
 38  38      90000 non-null  float64
 39  39      90000 non-null  float64
 40  40      90000 non-null  float64
 41  41      90000 non-null  float64
 42  42      90000 non-null  float64
 43  43      90000 non-null  float64
 44  44      90000 non-null  float64
 45  45      90000 non-null  float64
 46  46      90000 non-null  float64
 47  47      90000 non-null  float64
 48  48      90000 non-null  float64
 49  49      90000 non-null  float64
 50  50      90000 non-null  float64
 51  51      90000 non-null  float64
 52  52      90000 non-null  float64
 53  target  90000 non-null  float64
dtypes: float64(43), int64(11)
memory usage: 37.1 MB

In [10]:
df.nunique()

0           500
1           500
2           500
3           500
4           500
5           500
6           199
7         90000
8             2
9           500
10          500
11          500
12          500
13        90000
14        90000
15        90000
16        90000
17        90000
18        90000
19        90000
20        90000
21        90000
22        90000
23        90000
24        90000
25        90000
26        90000
27        90000
28        90000
29        90000
30        90000
31        90000
32        90000
33        90000
34        90000
35        90000
36        90000
37        90000
38        90000
39        90000
40        90000
41        90000
42        90000
43        90000
44        90000
45        90000
46        90000
47        90000
48        90000
49        90000
50        90000
51        90000
52        90000
target    90000
dtype: int64

In [11]:
correlation_mat = df.corr()
corr_pairs = correlation_mat.unstack()

In [12]:
sorted_pairs = corr_pairs.sort_values(kind="quicksort")
print('Negatively correlated pairs: ', sorted_pairs[sorted_pairs < 0])
print('Positively correlated pairs: ', sorted_pairs[sorted_pairs > 0.5])

Negatively correlated pairs:  31  33   -1.160554e-02
33  31   -1.160554e-02
4   43   -9.656205e-03
43  4    -9.656205e-03
22  31   -9.036448e-03
              ...
42  5    -8.443292e-06
7   38   -3.269123e-06
38  7    -3.269123e-06
45  44   -5.604933e-07
44  45   -5.604933e-07
Length: 1406, dtype: float64
Positively correlated pairs:  8       6         0.940016
6       8         0.940016
0       0         1.000000
51      51        1.000000
23      23        1.000000
22      22        1.000000
21      21        1.000000
20      20        1.000000
19      19        1.000000
18      18        1.000000
17      17        1.000000
16      16        1.000000
15      15        1.000000
14      14        1.000000
13      13        1.000000
12      12        1.000000
11      11        1.000000
10      10        1.000000
9       9         1.000000
8       8         1.000000
7       7         1.000000
6       6         1.000000
5       5         1.000000
4       4         1.000000
3       3         1.000000
2       2         1.000000
1       1         1.000000
24      24        1.000000
52      52        1.000000
25      25        1.000000
27      27        1.000000
50      50        1.000000
49      49        1.000000
48      48        1.000000
47      47        1.000000
46      46        1.000000
45      45        1.000000
44      44        1.000000
43      43        1.000000
42      42        1.000000
41      41        1.000000
40      40        1.000000
39      39        1.000000
38      38        1.000000
37      37        1.000000
36      36        1.000000
35      35        1.000000
34      34        1.000000
33      33        1.000000
32      32        1.000000
31      31        1.000000
30      30        1.000000
29      29        1.000000
28      28        1.000000
26      26        1.000000
target  target    1.000000
dtype: float64

In [13]:
'''
Linear regression assumptions

1) linear relationship between variables - linearity test, scatter plot
2) independence of observations (Durbin-Watson test, value around 2)
3) homoscedasticity of the residuals (random distribution) - homogeneity of variance
4) no significant outliers (box whisker plot)
5) normal distribution of the residuals (normality test -> Shapiro Wilk >0.05)

'''

#checking for normality of independent variable (anonimyzed features) and dependent variable (target column)

Y = df['target']
X = df.drop('target', axis=1)

shapiro_X = stats.shapiro(X)
shapiro_Y = stats.shapiro(Y)

print('Shapiro-Wilk for independent variable: ', shapiro_X)
print('Shapiro-Wilk for dependent variable: ', shapiro_Y)

Shapiro-Wilk for independent variable:  ShapiroResult(statistic=0.4985000491142273, pvalue=0.0)
Shapiro-Wilk for dependent variable:  ShapiroResult(statistic=0.9547744393348694, pvalue=0.0)

C:\Users\Larysa\anaconda3\lib\site-packages\scipy\stats\morestats.py:1760: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

EDA conclusions:
* given dataset contains of 54 columns (float and integers) and 90 000 rows
* dataset does not have any unknown or missing values, almost each entry to the dataset is unique
* there are some negatively correlated pairs but only one positively (column 6 and column 8) - there is no need to drop any columns
* both independent and dependent variables are normally distributed (no need to transform data)

In [14]:
# training

model = LinearRegression()

X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state = 40)

model = LinearRegression()
y_pred = model.fit(X_train,y_train).predict(X_test)

from sklearn.metrics import mean_squared_error

print('RMSE for training data: ', mean_squared_error(y_test, y_pred))

RMSE for training data:  836.5201923504803

In [15]:
print('R square for input and predicted value is: ', r2_score(y_test, y_pred)) # to check the direction of the relation (negative)

R square for input and predicted value is:  -0.0013205287984050518

In [16]:
# standarization of the data 
#to check if that will decrease the RMSE, which is high (meaning in nutshell that the expectations
# -> in nutshell are far away from reality, high value of the residuals)

from sklearn.linear_model import Lasso, Ridge

lasso = Lasso()
ridge = Ridge()

lasso.fit(X_train, y_train)
ridge.fit(X_train, y_train)

y_pred_lasso = lasso.predict(X_test)
y_pred_ridge = ridge.predict(X_test)

print('RMSE for Lasso: ', mean_squared_error(y_test, y_pred_lasso))
print('RMSE for Ridge: ', mean_squared_error(y_test, y_pred_ridge))

RMSE for Lasso:  835.7201474984305
RMSE for Ridge:  836.520057724919

In [17]:
# standarization didn't improve the situation

#testing the model on unseen data

test_data = pd.read_csv('internship_hidden_test.csv')
df_test = pd.DataFrame(test_data)
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
0,259,388,402,340,156,382,3.316625,0.218760,1,164,...,7.163474,10.227235,0.889111,9.190222,4.670908,0.931525,7.634177,0.158196,13.432551,2.511191
1,441,192,381,421,452,123,-8.888194,0.700228,0,349,...,10.619064,9.339161,4.221861,0.595563,13.865748,0.328453,11.507599,9.107966,1.302407,11.105604
2,83,129,107,156,247,191,2.645751,0.494556,1,297,...,1.819890,10.670237,10.350867,5.134417,5.898995,8.374986,4.638049,3.160023,2.243799,5.073030
3,183,438,191,116,491,403,-6.164414,0.511117,0,272,...,4.168135,12.782579,0.513072,0.321295,11.334062,11.735511,1.911520,8.365676,4.877288,11.601819
4,449,156,310,188,279,465,8.000000,0.756416,1,90,...,7.908122,1.140498,14.165074,7.688796,5.079241,8.152186,1.680403,13.215111,5.823109,1.038015

In [18]:
df_test.shape

(10000, 53)

In [20]:
df['target'].shape

(90000,)

In [21]:
# train dataset X = df_test and y = Y -> target column from training dataset

X_new = df_test
y_new = df['target'].iloc[:10000,].values

X_train_new, X_test_new, y_train_new, y_test_new = train_test_split(X_new, y_new, random_state = 40)

y_pred_new = model.fit(X_new, y_new).predict(X_test_new)

In [22]:
print('RMSE for test data: ', mean_squared_error(y_test_new, y_pred_new))

RMSE for test data:  836.1596612035997